@charset 'UTF-8';

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font: inherit;
	vertical-align: baseline;
}

html { width: 100%; height: 100%; }

body {
	width: 100%;
	height: 100%;
	
	font-size: 18px;
	background-color: #ffffff;
}

section {
	width: 100%;
	height: auto;
	max-width: 640px;
	margin: 0 auto;
	overflow: hidden;
}

section.index {
	padding: 48px 32px;
	text-align: center;
}

.index-logo {
	width: 100%;
	height: auto;
	margin-bottom: 16px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.mobile .index-logo {
	margin: 0;
	flex-direction: column;
}

.index-logo svg {
	width: 240px;
}

.mobile .index-logo svg {
	width: 80%;
	margin-bottom: 16px;
}

index-logo h1 {
	width: 280px;
	flex-grow: 0;
	font-size: 80px;
}

.mobile .index-logo h1 {
	width: auto;
	font-size: 36px;
}

.h_t1 { font-size: .8em; color: #616161; }

.h_t2 { font-size: 1em; color: #6F85CC; }

.index p { font-size: 18px; color: #616161; }