@charset 'UTF-8';

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font: inherit;
	vertical-align: baseline;
}

html { width: 100%; height: 100%; }

p {
	font-size: 18px;
	color: #616161;
	word-break: keep-all;
	text-align: justify;
	line-height: 1.5;
}

body {
	width: 100%;
	height: 100%;
	
	font-size: 18px;
	font-family: 'Roboto', 'serif';
	background-color: #ECEFF1;
}

section {
	width: 100%;
	height: auto;
	max-width: 640px;
	margin: 0 auto;
	padding: 0 32px;
	
	transition: opacity 1.25s ease;
}
.mobile section {
	padding: 0 0;
}

section.loading { opacity: 0; }




/* HEADER */

header {
	width: 100%;
	height: auto;
	padding: 48px 32px;
	text-align: center;
	
	background-color: #FFFFFF;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
}

.index-logo {
	width: 100%;
	height: auto;
	margin-bottom: 16px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.mobile .index-logo {
	margin: 0;
	flex-direction: column;
}

.index-logo svg {
	width: 240px;
}

.mobile .index-logo svg {
	width: 80%;
	margin-bottom: 16px;
}

.index-logo h1 {
	width: 280px;
	flex-grow: 0;
	font-size: 80px;
}

.mobile .index-logo h1 {
	width: auto;
	font-size: 36px;
}

.h_t1 { font-size: .8em; color: #616161; }

.h_t2 { font-size: 1em; color: #6F85CC; }

.index-logo p { text-align: center; }

/* FOOTER */

footer {
	width: 100%;
	height: auto;
	margin-top: 32px;
	padding: 16px;
	
	font-size: 14px;
	color: #FFF;
	background-color: #CFD8DC;
}

/* SECTIONS */

.card-leather {
	width: 100%;
	height: 24px;
	padding: 0 10%;
}
.card-leather:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-left: 4px solid #757575;
	border-right: 4px solid #757575;
}
.mobile .card-leather { opacity: 0; }

.card {
	width: 100%;
	height: auto;
	padding: 16px;
	
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
	background-color: #FFFFFF;
	
	overflow: hidden;
	
}